# Python / IDE
__pycache__/
*.pyc
.ipynb_checkpoints/
.idea/
.vscode/
.venv/
venv/

# Standard local folders for this project
data/
outputs/


# Common large files
*.parquet
*.h5
*.ckpt
*.pt
*.pth
*.onnx
*.pkl
*.joblib
*.zip
*.keras

# Optional large local experiment artefacts
results_task4_1_dnn_only/predictions/
results_task4_1_dnn_only/histories/
results_task6_2_lime_explainability/html