# Python / IDE
__pycache__/
*.pyc
.ipynb_checkpoints/
.idea/
.vscode/
.venv/
venv/

# ignore Local generated artefacts (your current folders)


# Standard local folders for this project
data/
outputs/
models/

# Common large files
*.parquet
*.h5
*.ckpt
*.pt
*.pth
*.onnx
*.pkl
*.joblib
*.zip
